<ng-container *ngIf="{
  toys: toys$ | async,
  team: team$ | async
} as data;">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div *ngIf="!data.toys; else toys">
          Loading toys...
        </div>
        <ng-template #toys>
          <app-toy *ngFor="let toy of data.toys" [toy]="toy"></app-toy>
          <div *ngIf="data.toys.length === 0">No toys found!</div>
        </ng-template>
      </div>
      <div class="col-6">
        <div *ngIf="!data.team; else team">
          Loading team...
        </div>
        <ng-template #team>
          <app-team [team]="team"></app-team>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
