<html>
    <head>
        <title>Fidzulu Home Page</title>
    </head>
    <body>
        <div id="Content">
            <div id="Title"><h1>Welcome to FidZulu</h1></div>
            <div id="About"><h2>About</h2>
                <p id="Aboutxt">Fidzulu is a web based shopping service create by Fidelity.<br />
                It allows users to find everyday items such as bikes and books easily. <br />
                Fidzulu will factor in the tax of the item you are searching for based on your location.</p>
            </div>
        </div>
    </body>
    <footer>
    </footer>
</html>
